// En scss/main.scss
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
// Para sobreescrbir variables
$primary: #ffc107;
$secondary: #ff0000;
//$success: $custom-success;
$info: #0066cc;
//$warning: $custom-warning;
//$danger: $custom-danger;
//$light: $custom-light;
//$dark: $custom-dark;

// Fusionar tus variables con las de Bootstrap
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info
));

// Importar Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

// Importar mis estilos pasados a scss
@import "estiloscomunes";
@import "carrito";
@import "catalogo";
@import "index";
@import "login";
@import "producto";
@import "indexcarrousel";
@import "animaciones";